--extra-index-url https://download.pytorch.org/whl/cpu

jax==0.4.36
jaxlib==0.4.36
flax==0.10.4
optax==0.2.5
orbax-checkpoint==0.11.1
numpy<2
ml-dtypes==0.5.4
tensorstore==0.1.72

torch==2.4.0+cpu
torchvision==0.19.0+cpu

diffusers==0.31.0
transformers==4.46.3
huggingface_hub==0.26.2

absl-py==2.1.0
chex==0.1.90
einops==0.8.2
etils==1.11.0
fsspec==2024.10.0
GitPython==3.1.46
hf-xet==1.1.6rc5
humanize==4.15.0
ml-collections==1.1.0
msgpack==1.1.2
networkx==3.4.2
Pillow==10.4.0
protobuf==5.28.3
PyYAML==6.0.3
regex==2024.11.6
safetensors==0.7.0
scipy==1.14.1
simplejson==3.19.3
sympy==1.13.3
tokenizers==0.20.3
tqdm==4.67.1
wandb==0.18.7
